@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cBlack: #181A18;
  --cWhite: #D9DBF1;
  --cGray: #808080;
  --cVanilla:  #EFE9AE;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

