
body {
    background-color: white;
}

h1 {
    color: Black;
}

p {
    color: Black;
}

.icons{
    background-color: white;
}


.sola-kaydir {
    float: left;
    padding: 0 10px 10px 0;
    margin: auto;
}

.stats {
    float:inline-end;
}

.map{
    float:right;
}

.mail {
    color:rgb(0, 39, 53);
}



.waviy {
    position: relative;
  }
.waviy span {
position: relative;
display: inline-block;
font-size: 40px;
color: black;
text-transform: uppercase;
animation: flip 2s infinite;
animation-delay: calc(.1s * var(--i))
}
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }