:root, [data-bs-theme=light] {
  --bs-body-color: #181a18;
  --bs-body-color-rgb: 24,26,24;
  --bs-secondary-color: rgba(24,26,24,0.75);
  --bs-secondary-color-rgb: 24,26,24,0.75;
  --bs-tertiary-color: rgba(24,26,24,0.5);
  --bs-tertiary-color-rgb: 24,26,24,0.5;
  --bs-body-bg: #fbfaf5;
  --bs-body-bg-rgb: 251,250,245;
}

